# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

#smart contract
solidity/.secret
solidity/build/
solidity/flatten/
solidity/node_modules
solidity/waffle.json
solidity/cache/solcjs/v0.6.2+commit.bacdbe57.js
solidity/cache/solcjs/v0.8.10+commit.fc410830.js
solidity/build/contracts/AccessControl.json
solidity/build/contracts/AccessControlEnumerable.json
solidity/build/contracts/Address.json
solidity/build/contracts/BridgeERC20.json
solidity/build/contracts/Context.json
solidity/build/contracts/ECDSA.json
solidity/build/contracts/EnumerableSet.json
solidity/build/contracts/ERC20.json
solidity/build/contracts/ERC20Burnable.json
solidity/build/contracts/ERC165.json
solidity/build/contracts/IAccessControl.json
solidity/build/contracts/IAccessControlEnumerable.json
solidity/build/contracts/IERC20.json
solidity/build/contracts/IERC20Metadata.json
solidity/build/contracts/IERC165.json
solidity/build/contracts/Migrations.json
solidity/build/contracts/ReentrancyGuard.json
solidity/build/contracts/Strings.json
solidity/build/contracts/TipBot.json
solidity/build/contracts/AccessControl.json
solidity/build/contracts/AccessControlEnumerable.json
solidity/build/contracts/Address.json
solidity/build/contracts/BridgeERC20.json
solidity/build/contracts/Context.json
solidity/build/contracts/ECDSA.json
solidity/build/contracts/EnumerableSet.json
solidity/build/contracts/ERC20.json
solidity/build/contracts/ERC20Burnable.json
solidity/build/contracts/ERC165.json
solidity/build/contracts/IAccessControl.json
solidity/build/contracts/IAccessControlEnumerable.json
solidity/build/contracts/IERC20.json
solidity/build/contracts/IERC20Metadata.json
solidity/build/contracts/IERC165.json
solidity/build/contracts/Migrations.json
solidity/build/contracts/ReentrancyGuard.json
solidity/build/contracts/Strings.json
solidity/build/contracts/TipBot.json
